.entete{
    background-color: #d96930;
    padding-top: 20px;
    padding-bottom: 20px;
}

.titre_entete{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 20px;
    font-weight: 400;
}

.sous_titre_entete{
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 300;
    font-size:larger;
    padding-top: 10px;
  
}

.mots__cles{
    font-weight: 700;
}
